{% comment %} {{ 'section-main-page.css' | asset_url | stylesheet_tag }} {% endcomment %}

{% style %}
.page-title {
  margin-top: 0;
}
.main-page-title {
  margin-bottom: 3rem;
}
.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}
.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}
@media screen and (min-width: 750px) {
  .main-page-title {
    margin-bottom: 4rem;
  }
}
{% endstyle %}

<div class="page-width page-width--narrow section-{{ section.id }}-padding">
  <h1 class="main-page-title page-title h0{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    {{ page.title | escape }}
  </h1>
  <div class="rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "Page",
  "tag": "section",
  "class": "section"
}
{% endschema %}
