/* Referenced in:
—— sections/product.liquid
—— snippets/facets.liquid */

/* ————— Swatch Input ———————————————————— */
.swatch-input__input {
  + .swatch-input__label {
    --swatch-input--border-radius: 50%;
    display: inline-block;
    max-width: 100%;
    border-radius: var(--swatch-input--border-radius);
    cursor: pointer;
    outline-offset: 0.2rem;
    outline-color: transparent;
    outline-style: solid;
    transition-property: outline-color, outline-width, box-shadow;
    transition-duration: var(--duration-short);
    transition-timing-function: ease;
    forced-color-adjust: none;
    &.swatch-input__label--square {
      --swatch-input--border-radius: 0.2rem;
    }
  }
  /* Active state */
  &:active + .swatch-input__label, &:checked + .swatch-input__label {
    outline: 0.1rem solid rgb(var(--color-foreground));
  }
  /* Hover state */
  + .swatch-input__label:hover, &:hover + .swatch-input__label {
    outline: 0.2rem solid rgba(var(--color-foreground), 0.4);
  }
  /* Focus visible */
  &:focus-visible + .swatch-input__label {
    outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
    box-shadow: 0 0 0 0.2rem rgb(var(--color-background)), 0 0 0.1rem 0.5rem rgba(var(--color-foreground), 0.25);
  }
  /* Active and focused */
  &:active, &:checked {
    &:focus-visible + .swatch-input__label {
      outline: 0.1rem solid rgb(var(--color-foreground));
      box-shadow: 0 0 0 0.2rem rgb(var(--color-background)), 0 0 0.1rem 0.4rem rgba(var(--color-foreground), 0.25);
    }
  }
  /* Visually disabled */
  &.visually-disabled:not(:active):not(:checked) + .swatch-input__label {
    transition: none;
    &:hover {
      outline: none;
    }
  }
  /* Actually disabled */
  &:disabled + .swatch-input__label {
    pointer-events: none;
  }
  /* Overrides for swatch snippet when used inside disabled swatch-input */
  &:disabled, &.visually-disabled {
    + .swatch-input__label > .swatch {
      position: relative;
      overflow: hidden;
      opacity: 0.4;
      &::after {
        /* Display crossed out line over swatch when input is disabled */
        /* Diagonal of a square = length of the side * sqrt(2)  */
        --diagonal--size: calc(var(--swatch-input--size) * 1.414);
        --crossed-line--size: 0.1rem;
        content: '';
        position: absolute;
        bottom: calc(var(--crossed-line--size) * -0.5);
        left: 0;
        width: var(--diagonal--size);
        height: var(--crossed-line--size);
        background-color: rgb(var(--color-foreground));
        transform: rotate(-45deg);
        transform-origin: left;
      }
    }
  }
}